# dependencies
/node_modules
/.pnpm-store

# Next.js build outputs
/.next/
/out/
/build

# Vercel & environment
/.vercel
.env*.local

# Logs & OS
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
